.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  min-width: 50px;
  min-height: 50px;
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;

  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: $color-alabaster;
  letter-spacing: -0.03em;

  background-color: $color-bright-grey;
  border-radius: 20px;

  transition: color 0.5s ease-in-out,
  background-color 0.5s ease-in-out,
  opacity 0.1s ease-in-out;

  @include vp-768 {
    padding-right: 67px;
    padding-left: 67px;

    &--icon {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.7;
    }
  }

  @media screen {
    &:active {
      opacity: 0.4;
    }
  }

  &--icon {
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 12px;
  }
}

.is-light-theme .button {
  color: $color-bright-grey;

  background-color: $color-pattens-blue;
}

.button__arrow {
  width: 8px;
  height: 14px;
  margin-left: 10px;
}
