.main {
  display: grid;

  @include vp-768 {
    grid-template:
      "about about"
      "technologies tools"
      / 1fr 1fr;

    column-gap: 35px;
  }

  @include vp-1280 {
    grid-template:
      "about about"
      "technologies tools"
      / 1fr 1fr;

    column-gap: 54px;
  }
}

.main__about {
  grid-area: about;
}

.main__technologies {
  grid-area: technologies;
}

.main__tools {
  grid-area: tools;
}

.main__title {
  margin-bottom: 25px;

  @include vp-768 {
    margin-bottom: 35px;
  }
}

.main__section {
  margin-bottom: 40px;

  @include vp-1280 {
    margin-bottom: 70px;
  }

  @include vp-768 {
    margin-bottom: 60px;
  }
}
