.main-footer {
  margin-top: 60px;
  margin-bottom: 20px;
}

.main-footer__copy {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
}

.main-footer__link {
  color: $color-vis-vis;
}
