.main-header {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin-bottom: 34px;
  margin-left: -10px;
  padding-top: 34px;
  padding-right: 10px;
  padding-left: 10px;

  @include vp-1280 {
    margin-bottom: 40px;
    margin-left: calc((100vw - 100%) / -2);
    padding-right: calc((100vw - 1120px) / 2);
    padding-left: calc((100vw - 1120px) / 2);
  }

  @include vp-768 {
    margin-left: -50px;
    padding-right: 50px;
    padding-left: 50px;
  }

  &.is-menu-opened {
    background-color: $color-bright-grey;
  }

  &.is-animations {
    transition: background-color 0.5s ease-in-out;
  }
}

.is-light-theme .main-header.is-menu-opened {
  background-color: $color-pattens-blue;
}

.main-header__logo-wrapper {
  z-index: 1;

  flex-grow: 1;

  @include vp-768 {
    order: 0;
  }
}

.main-header__toggler-theme {
  z-index: 1;

  margin-right: 15px;

  @include vp-768 {
    order: 2;
    margin-right: 0;
  }
}

.main-header__toggler-menu {
  z-index: 1;

  @include vp-768 {
    display: none;
  }
}

.main-header__nav {
  display: block;
  width: 100%;
  // 114px = padding-top + .main-header__nav-list(margin-bottom)
  margin-top: calc(-100% - 114px);
  padding-top: 54px;

  opacity: 0;

  @include vp-1280 {
    margin-right: 30px;
  }

  @include vp-768 {
    position: static;

    order: 1;
    width: fit-content;
    margin-top: 0;
    margin-right: 15px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

    opacity: 1;
  }

  &.is-opened {
    margin-top: 0;

    opacity: 1;
  }

  &.is-animations {
    transition: margin-top 0.5s ease-in-out,
  opacity 0.5s ease-in-out;
  }
}

.main-header__nav-list {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;

  list-style: none;

  @include vp-768 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

.main-header__nav-item {
  margin-bottom: 35px;

  @include vp-1280 {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  @include vp-768 {
    margin-right: 5px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.main-header__nav-link {
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  color: inherit;

  @include vp-1280 {
    font-size: 22px;
    line-height: 33px;
  }

  @include vp-768 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    font-size: 16px;
    line-height: 22px;

    &::after {
      content: none;
    }
  }

  &::after {
    content: "";

    display: block;
    width: 65px;
    height: 3px;
    margin-top: 5px;

    background-color: $color-alabaster;
  }
}

.is-light-theme .main-header__nav-link::after {
  background-color: $color-bright-grey;
}
