.main-header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
}

.main-header__logo-wrapper {
  z-index: 1;

  flex-grow: 1;

  @include vp-768 {
    order: 0;
  }
}

.main-header__toggler-theme {
  z-index: 1;

  margin-right: 15px;

  @include vp-768 {
    order: 2;
    margin-right: 0;
  }
}

.main-header__toggler-menu {
  z-index: 1;

  @include vp-768 {
    display: none;
  }
}

.main-header__nav {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 100%;
  padding-top: 110px;
  padding-right: 10px;
  padding-left: 10px;

  background-color: $color-bright-grey;

  @include vp-768 {
    position: static;

    display: block;
    order: 1;
    width: fit-content;
    margin-right: 15px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

    background-color: $color-transparent;
  }

  @include vp-1280 {
    margin-right: 30px;

  }

  &.is-opened {
    display: block;
  }
}

.main-header__nav-list {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 60px;
  padding-left: 0;

  list-style: none;

  @include vp-768 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

.main-header__nav-item {
  margin-bottom: 35px;

  @include vp-768 {
    margin-right: 5px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  @include vp-1280 {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.main-header__nav-link {
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  color: inherit;

  @include vp-768 {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    font-size: 16px;
    line-height: 22px;

    &:after {
      content: none;
    }
  }

  @include vp-1280 {
    font-size: 22px;
    line-height: 33px;
  }

  &:after {
    content: "";

    display: block;
    width: 65px;
    height: 3px;
    margin-top: 5px;

    background-color: $color-alabaster;
  }
}
