.main {
  display: grid;
  row-gap: 40px;

  @include vp-1280 {
    row-gap: 70px;

    column-gap: 54px;
  }

  @include vp-768 {
    grid-template: "about about"
    "technologies tools"
    "projects projects"
    / 1fr 1fr;
    row-gap: 60px;

    column-gap: 35px;
  }
}

.main__about {
  @include vp-768 {
    grid-area: about;
  }
}

.main__technologies {
  @include vp-768 {
    grid-area: technologies;
  }
}

.main__tools {
  @include vp-768 {
    grid-area: tools;
  }
}

.main__projects {
  @include vp-768 {
    grid-area: projects;
  }
}

.main__title {
  margin-bottom: 25px;

  @include vp-768 {
    margin-bottom: 35px;
  }
}
