.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;

  list-style: none;
  font-weight: 700;
  font-size: 12px;
  font-family: $ff-century-gothic;
  color: $color-alabaster;
}

.tags__item {
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  padding-top: 3px;
  padding-right: 8px;
  padding-bottom: 3px;
  padding-left: 8px;

  background-color: $color-black-russian;
  border-radius: 10px;
}
