@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Century Gothic";

  font-display: swap;
  src:
    url("../fonts/centurygothic.woff2") format("woff2"),
    url("../fonts/centurygothic.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Century Gothic";

  font-display: swap;
  src:
    url("../fonts/centurygothic-bold.woff2") format("woff2"),
    url("../fonts/centurygothic-bold.woff") format("woff");
}
